In [1]:
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
spark = SparkSession.builder.appName("AirlineFlightPrep").getOrCreate() 
spark.sparkContext

In [3]:
price_df = spark.read.parquet("gs://msca-bdp-student-gcs/Group7_Final_Project/flight_pricing/itineraries.parquet", 
                                     header = True, inferSchema = True)

In [4]:
price_df.show(1)

23/11/15 20:11:32 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|               legId|searchDate|flightDate|startingAirport|destinationAirport|fareBasisCode|travelDuration|elapsedDays|isBasicEconomy|isRefundable|isNonStop|baseFare|totalFare|seatsRemaining|totalTravelDistance|segmentsDepartureTimeEpochSeconds|segmentsDepartureTimeRaw|segmentsArrivalTimeEpochSeconds|segmentsArrivalTimeRaw|segmentsArrivalAirportCode|segmentsDepartureAirportCode| segmentsAirlineName|segmentsAirlineCode|segmentsEquipmentDescription|segmentsDurationInSeconds|segmentsDistance|segmentsCabinCode|
+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|8ed6dd65e00f159d7...|2022-05-13|2022-05-29|            LAX|               ORD|       RA14NR|      PT13H55M|          1|         false|       false|    false|   346.0|   453.58|             0|               null|             1653891480||16539...|    2022-05-29T23:18:...|           1653907200||16539...|  2022-05-30T06:40:...|                  ATL||ORD|                    LAX||ATL|Spirit Airlines||...|             NK||NK|               ||Airbus A319|              15720||7680|      None||None|     coach||coach|
+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
only showing top 1 row

In [5]:
price_df.printSchema()

root
 |-- legId: string (nullable = true)
 |-- searchDate: string (nullable = true)
 |-- flightDate: string (nullable = true)
 |-- startingAirport: string (nullable = true)
 |-- destinationAirport: string (nullable = true)
 |-- fareBasisCode: string (nullable = true)
 |-- travelDuration: string (nullable = true)
 |-- elapsedDays: integer (nullable = true)
 |-- isBasicEconomy: boolean (nullable = true)
 |-- isRefundable: boolean (nullable = true)
 |-- isNonStop: boolean (nullable = true)
 |-- baseFare: double (nullable = true)
 |-- totalFare: double (nullable = true)
 |-- seatsRemaining: integer (nullable = true)
 |-- totalTravelDistance: integer (nullable = true)
 |-- segmentsDepartureTimeEpochSeconds: string (nullable = true)
 |-- segmentsDepartureTimeRaw: string (nullable = true)
 |-- segmentsArrivalTimeEpochSeconds: string (nullable = true)
 |-- segmentsArrivalTimeRaw: string (nullable = true)
 |-- segmentsArrivalAirportCode: string (nullable = true)
 |-- segmentsDepartureAirportCode: string (nullable = true)
 |-- segmentsAirlineName: string (nullable = true)
 |-- segmentsAirlineCode: string (nullable = true)
 |-- segmentsEquipmentDescription: string (nullable = true)
 |-- segmentsDurationInSeconds: string (nullable = true)
 |-- segmentsDistance: string (nullable = true)
 |-- segmentsCabinCode: string (nullable = true)

In [6]:
price_df = price_df.drop("legId", "searchDate")

In [7]:
price_df = (price_df.withColumnRenamed('flightDate', 'flight_date')
                    .withColumnRenamed('startingAirport', 'origin')
                    .withColumnRenamed('destinationAirport', 'destination')
                    .withColumnRenamed('fareBasisCode', 'fare_basis_code')
                    .withColumnRenamed('travelDuration', 'travel_duration')
                    .withColumnRenamed('elapsedDays', 'elapsed_days')
                    .withColumnRenamed('isBasicEconomy', 'is_basic_economy')
                    .withColumnRenamed('isRefundable', 'is_refundable')
                    .withColumnRenamed('isNonStop', 'is_nonstop')
                    .withColumnRenamed('baseFare', 'base_fare')
                    .withColumnRenamed('totalFare', 'total_fare')
                    .withColumnRenamed('seatsRemaining', 'seats_remaining')
                    .withColumnRenamed('totalTravelDistance', 'total_distance')
                    .withColumnRenamed('segmentsDepartureTimeEpochSeconds','departure_time_seconds')
                    .withColumnRenamed('segmentsDepartureTimeRaw', 'departure_time')
                    .withColumnRenamed('segmentsArrivalTimeEpochSeconds','arrival_time_seconds')
                    .withColumnRenamed('segmentsArrivalTimeRaw', 'arrival_time')
                    .withColumnRenamed('segmentsArrivalAirportCode', 'arrival_airport')
                    .withColumnRenamed('segmentsDepartureAirportCode', 'departure_airport')
                    .withColumnRenamed('segmentsAirlineName', 'airline_name')
                    .withColumnRenamed('segmentsAirlineCode', 'airline_code')
                    .withColumnRenamed('segmentsEquipmentDescription', 'equipment_description')
                    .withColumnRenamed('segmentsDurationInSeconds', 'duration_seconds')
                    .withColumnRenamed('segmentsDistance', 'distance')
                    .withColumnRenamed('segmentsCabinCode', 'cabin_code'))

In [8]:
price_df = price_df.withColumn("flight_date", to_date(price_df["flight_date"], "yyyy-MM-dd"))

In [9]:
price_df = price_df.withColumn("flight_year", year(col("flight_date")))
price_df = price_df.withColumn("flight_month", month(col("flight_date")))
price_df = price_df.withColumn("flight_day", dayofmonth(col("flight_date")))

price_df.show(1)

+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+
|flight_date|origin|destination|fare_basis_code|travel_duration|elapsed_days|is_basic_economy|is_refundable|is_nonstop|base_fare|total_fare|seats_remaining|total_distance|departure_time_seconds|      departure_time|arrival_time_seconds|        arrival_time|arrival_airport|departure_airport|        airline_name|airline_code|equipment_description|duration_seconds|  distance|  cabin_code|flight_year|flight_month|flight_day|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+
| 2022-05-29|   LAX|        ORD|         RA14NR|       PT13H55M|           1|           false|        false|     false|    346.0|    453.58|              0|          null|  1653891480||16539...|2022-05-29T23:18:...|1653907200||16539...|2022-05-30T06:40:...|       ATL||ORD|         LAX||ATL|Spirit Airlines||...|      NK||NK|        ||Airbus A319|     15720||7680|None||None|coach||coach|       2022|           5|        29|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+
only showing top 1 row

In [35]:
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType

# Define UDF for minutes
@F.pandas_udf(IntegerType())
def parse_iso8601_duration_minutes(str_duration: pd.Series) -> pd.Series:
    return str_duration.apply(lambda duration: 1440 + pd.Timedelta(duration).seconds // 60 if duration.startswith('P1D') else pd.Timedelta(duration).seconds // 60)

# Define UDF for seconds
@F.pandas_udf(IntegerType())
def parse_iso8601_duration_seconds(str_duration: pd.Series) -> pd.Series:
    return str_duration.apply(lambda duration: 86400 if duration.startswith('P1D') else pd.Timedelta(duration).seconds)

# Apply UDFs to create new columns
price_df = price_df.withColumn("travel_duration_minutes", parse_iso8601_duration_minutes(F.col("travel_duration")))
price_df = price_df.withColumn("travel_duration_seconds", parse_iso8601_duration_seconds(F.col("travel_duration")))

# Show the updated DataFrame
price_df.show(1)

+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
|flight_date|origin|destination|fare_basis_code|travel_duration|elapsed_days|is_basic_economy|is_refundable|is_nonstop|base_fare|total_fare|seats_remaining|total_distance|departure_time_seconds|      departure_time|arrival_time_seconds|        arrival_time|arrival_airport|departure_airport|        airline_name|airline_code|equipment_description|duration_seconds|  distance|  cabin_code|flight_year|flight_month|flight_day|travel_duration_minutes|travel_duration_seconds|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
| 2022-05-29|   LAX|        ORD|         RA14NR|       PT13H55M|           1|           false|        false|     false|    346.0|    453.58|              0|          null|  1653891480||16539...|2022-05-29T23:18:...|1653907200||16539...|2022-05-30T06:40:...|       ATL||ORD|         LAX||ATL|Spirit Airlines||...|      NK||NK|        ||Airbus A319|     15720||7680|None||None|coach||coach|       2022|           5|        29|                    835|                  50100|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
only showing top 1 row

In [52]:
# Count the number of '||' delimiters
stop_count = F.size(F.split(price_df['duration_seconds'], '\|\|')) - 1

# Add the count as a new column
price_df = price_df.withColumn("num_stops", stop_count)

# Show the updated DataFrame
price_df.show(5)

+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+---------+
|flight_date|origin|destination|fare_basis_code|travel_duration|elapsed_days|is_basic_economy|is_refundable|is_nonstop|base_fare|total_fare|seats_remaining|total_distance|departure_time_seconds|      departure_time|arrival_time_seconds|        arrival_time|arrival_airport|departure_airport|        airline_name|airline_code|equipment_description|duration_seconds|  distance|  cabin_code|flight_year|flight_month|flight_day|travel_duration_minutes|travel_duration_seconds|num_stops|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+---------+
| 2022-05-29|   LAX|        ORD|         RA14NR|       PT13H55M|           1|           false|        false|     false|    346.0|    453.58|              0|          null|  1653891480||16539...|2022-05-29T23:18:...|1653907200||16539...|2022-05-30T06:40:...|       ATL||ORD|         LAX||ATL|Spirit Airlines||...|      NK||NK|        ||Airbus A319|     15720||7680|None||None|coach||coach|       2022|           5|        29|                    835|                  50100|        1|
| 2022-05-29|   LAX|        ORD|       QH7OAVMN|        PT6H44M|           0|           false|        false|     false|   407.44|     461.6|              3|          2206|  1653837600||16538...|2022-05-29T08:20:...|1653848700||16538...|2022-05-29T13:25:...|       AUS||ORD|         LAX||AUS|Alaska Airlines||...|      AS||UA| Embraer 175||Airb...|     11100||9840| 1236||970|coach||coach|       2022|           5|        29|                    404|                  24240|        1|
| 2022-05-29|   LAX|        ORD|       MATOA0MQ|        PT6H12M|           0|           false|        false|     false|   432.56|     488.6|              9|          1810|  1653856800||16538...|2022-05-29T13:40:...|1653862920||16538...|2022-05-29T16:22:...|       SLC||ORD|         ONT||SLC|        Delta||Delta|      DL||DL|     Boeing 737-800|||     6120||11220| 559||1251|coach||coach|       2022|           5|        29|                    372|                  22320|        1|
| 2022-05-29|   LAX|        ORD|       LH4OASMN|       PT13H12M|           1|           false|        false|     false|   444.65|     507.2|              4|          2681|  1653883380||16539...|2022-05-29T21:03:...|1653892980||16539...|2022-05-29T23:43:...|       SEA||ORD|         ONT||SEA|Alaska Airlines||...|      AS||AS| Boeing 737-900||B...|     9600||15000| 958||1723|coach||coach|       2022|           5|        29|                    792|                  47520|        1|
| 2022-05-29|   LAX|        ORD|       NH4OAVMN|       PT12H44M|           1|           false|        false|     false|   463.25|    527.19|              2|          2186|  1653889200||16539...|2022-05-29T22:40:...|1653893940||16539...|2022-05-29T23:59:...|       SFO||ORD|         LAX||SFO|Alaska Airlines||...|      AS||AS| Embraer 175||Airb...|     4740||15840| 339||1847|coach||coach|       2022|           5|        29|                    764|                  45840|        1|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+---------+
only showing top 5 rows

In [13]:
price_df.printSchema()

root
 |-- flight_date: date (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- fare_basis_code: string (nullable = true)
 |-- travel_duration: string (nullable = true)
 |-- elapsed_days: integer (nullable = true)
 |-- is_basic_economy: boolean (nullable = true)
 |-- is_refundable: boolean (nullable = true)
 |-- is_nonstop: boolean (nullable = true)
 |-- base_fare: double (nullable = true)
 |-- total_fare: double (nullable = true)
 |-- seats_remaining: integer (nullable = true)
 |-- total_distance: integer (nullable = true)
 |-- departure_time_seconds: string (nullable = true)
 |-- departure_time: string (nullable = true)
 |-- arrival_time_seconds: string (nullable = true)
 |-- arrival_time: string (nullable = true)
 |-- arrival_airport: string (nullable = true)
 |-- departure_airport: string (nullable = true)
 |-- airline_name: string (nullable = true)
 |-- airline_code: string (nullable = true)
 |-- equipment_description: string (nullable = true)
 |-- duration_seconds: string (nullable = true)
 |-- distance: string (nullable = true)
 |-- cabin_code: string (nullable = true)
 |-- flight_year: integer (nullable = true)
 |-- flight_month: integer (nullable = true)
 |-- flight_day: integer (nullable = true)
 |-- travel_duration_minutes: integer (nullable = true)
 |-- travel_duration_seconds: integer (nullable = true)

In [14]:
price_df_clean = price_df.dropna()

num_rows_before = price_df.count()
num_rows_after = price_df_clean.count()
diff = num_rows_before - num_rows_after

print(f"Number of rows before dropping empty rows: {num_rows_before}")
print(f"Number of rows after dropping empty rows: {num_rows_after}")

if num_rows_before != num_rows_after:
    print(f"There were {diff} empty rows in the DataFrame.")
else:
    print("No empty rows in the DataFrame.")

Number of rows before dropping empty rows: 82138753
Number of rows after dropping empty rows: 74754290
There were 7384463 empty rows in the DataFrame.

In [15]:
price_df.count()

82138753

In [16]:
price_df.groupBy('flight_date').count().orderBy('count', ascending=False).toPandas()

    flight_date   count
0    2022-08-30  729117
1    2022-09-07  695010
2    2022-09-13  690912
3    2022-09-08  671131
4    2022-08-31  667996
..          ...     ...
212  2022-11-18   36571
213  2022-04-19   30702
214  2022-11-19   21923
215  2022-04-18   16524
216  2022-04-17    8258

[217 rows x 2 columns]

In [17]:
price_df.groupBy('is_basic_economy').count().orderBy('count', ascending=False).toPandas()

   is_basic_economy     count
0             False  70313487
1              True  11825266

In [18]:
price_df.groupBy('is_refundable').count().orderBy('count', ascending=False).toPandas()

   is_refundable     count
0          False  82137421
1           True      1332

In [19]:
price_df.groupBy('is_nonstop').count().orderBy('count', ascending=False).toPandas()

   is_nonstop     count
0       False  60071865
1        True  22066888

In [20]:
price_df.groupBy('origin').count().orderBy('count', ascending=False).toPandas()

   origin    count
0     LAX  8073281
1     LGA  5919323
2     BOS  5883876
3     SFO  5706482
4     DFW  5674959
5     ORD  5503476
6     CLT  5494510
7     ATL  5312028
8     MIA  4930213
9     PHL  4726187
10    DEN  4697143
11    DTW  4547052
12    JFK  4425164
13    EWR  3970797
14    OAK  3809884
15    IAD  3464378

In [21]:
price_df.groupBy('destination').count().orderBy('count', ascending=False).toPandas()

   destination    count
0          LAX  8006721
1          LGA  6093450
2          DFW  5957280
3          BOS  5801538
4          ORD  5717699
5          SFO  5586204
6          CLT  5411448
7          ATL  5211169
8          MIA  5103390
9          PHL  4703822
10         DEN  4630696
11         DTW  4456269
12         JFK  4413765
13         EWR  4074698
14         OAK  3657923
15         IAD  3312681

In [22]:
price_df.groupBy('flight_year').count().orderBy('count', ascending = False).toPandas()

   flight_year     count
0         2022  82138753

In [23]:
price_df.groupBy('flight_month').count().orderBy('count', ascending = False).toPandas()

   flight_month     count
0             8  17678497
1             9  17285217
2             7  13492890
3             6  11774933
4            10  11044671
5             5   7440297
6            11   2503292
7             4    918956

In [24]:
price_df.groupBy('flight_day').count().orderBy('count', ascending = False).toPandas()

    flight_day    count
0            4  2854018
1            8  2850675
2            7  2817599
3           27  2802314
4            3  2756642
5           29  2754363
6           26  2752687
7            1  2743256
8            5  2722845
9            9  2722114
10          24  2702786
11           6  2696232
12          20  2687033
13          28  2686070
14           2  2684060
15          10  2678693
16          30  2669506
17          17  2652266
18          12  2643881
19          19  2638155
20          13  2634888
21          21  2626589
22          22  2624472
23          23  2623310
24          14  2608670
25          25  2597644
26          15  2578502
27          11  2577507
28          16  2562325
29          18  2527161
30          31  1662490

In [25]:
price_df.groupBy('fare_basis_code').count().orderBy('count', ascending = False).toPandas()

      fare_basis_code    count
0            QAA0OKEN  1386883
1            KAUOA0MQ   937072
2            V7AWZNN1   797408
3            QAA0OFEN   570964
4            HAA0OKEN   537443
...               ...      ...
21057        HAUOG3MQ        1
21058        KAV2X5M2        1
21059        TAVSA9M1        1
21060        LAU4KKDS        1
21061        SAA3JXES        1

[21062 rows x 2 columns]

In [53]:
price_df.groupBy('num_stops').count().orderBy('count', ascending = False).toPandas()

   num_stops     count
0          1  52285467
1          0  22066888
2          2   7586488
3          3    199812
4          4        98

In [43]:
base_fare_summary = price_df.agg(
    mean(col("base_fare")).alias("Mean Base Fare"),
    stddev(col("base_fare")).alias("StdDev Base Fare"),
    count(col("base_fare")).alias("Count Base Fare"),
    min(col("base_fare")).alias("Min Base Fare"),
    max(col("base_fare")).alias("Max Base Fare")
    )

total_fare_summary = price_df.agg(
    mean(col("total_fare")).alias("Mean Total Fare"),
    stddev(col("total_fare")).alias("StdDev Total Fare"),
    count(col("total_fare")).alias("Count Total Fare"),
    min(col("total_fare")).alias("Min Total Fare"),
    max(col("total_fare")).alias("Max Total Fare")
    )

base_fare_summary.show()
total_fare_summary.show()

+------------------+------------------+---------------+-------------+-------------+
|    Mean Base Fare|  StdDev Base Fare|Count Base Fare|Min Base Fare|Max Base Fare|
+------------------+------------------+---------------+-------------+-------------+
|292.66285271049355|183.18878337398306|       82138753|         0.01|      7662.33|
+------------------+------------------+---------------+-------------+-------------+

+------------------+------------------+----------------+--------------+--------------+
|   Mean Total Fare| StdDev Total Fare|Count Total Fare|Min Total Fare|Max Total Fare|
+------------------+------------------+----------------+--------------+--------------+
|340.38684914273495|196.02950991170542|        82138753|         19.59|       8260.61|
+------------------+------------------+----------------+--------------+--------------+

In [44]:
price_df.filter(price_df['base_fare'] == 0.01).show()

+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
|flight_date|origin|destination|fare_basis_code|travel_duration|elapsed_days|is_basic_economy|is_refundable|is_nonstop|base_fare|total_fare|seats_remaining|total_distance|departure_time_seconds|      departure_time|arrival_time_seconds|        arrival_time|arrival_airport|departure_airport|        airline_name|airline_code|equipment_description|duration_seconds|  distance|  cabin_code|flight_year|flight_month|flight_day|travel_duration_minutes|travel_duration_seconds|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
| 2022-11-07|   PHL|        MIA|          WA3NR|         PT3H3M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1667848200|2022-11-07T14:10:...|          1667859180|2022-11-07T17:13:...|            MIA|              PHL|     Spirit Airlines|          NK|          Airbus A319|           10980|      None|       coach|       2022|          11|         7|                    183|                  10980|
| 2022-11-07|   PHL|        MIA|          WA3NR|        PT8H58M|           1|           false|        false|     false|     0.01|     45.59|              0|          null|  1667855400||16678...|2022-11-07T16:10:...|1667863740||16678...|2022-11-07T18:29:...|       ATL||MIA|         PHL||ATL|Spirit Airlines||...|      NK||NK|        ||Airbus A319|      8340||7260|None||None|coach||coach|       2022|          11|         7|                    538|                  32280|
| 2022-11-08|   MIA|        PHL|          WA3NR|         PT5H2M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1667942460||16679...|2022-11-08T16:21:...|1667950200||16679...|2022-11-08T18:30:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7740||7080|None||None|coach||coach|       2022|          11|         8|                    302|                  18120|
| 2022-11-08|   MIA|        PHL|          WA3NR|        PT9H49M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1667910000||16679...|2022-11-08T07:20:...|1667917200||16679...|2022-11-08T09:20:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7200||7140|None||None|coach||coach|       2022|          11|         8|                    589|                  35340|
| 2022-11-08|   PHL|        MIA|          WA3NR|         PT3H3M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1667934600|2022-11-08T14:10:...|          1667945580|2022-11-08T17:13:...|            MIA|              PHL|     Spirit Airlines|          NK|          Airbus A319|           10980|      None|       coach|       2022|          11|         8|                    183|                  10980|
| 2022-11-09|   MIA|        PHL|          WA3NR|        PT2H42M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1668016080|2022-11-09T12:48:...|          1668025800|2022-11-09T15:30:...|            PHL|              MIA|     Spirit Airlines|          NK|          Airbus A319|            9720|      None|       coach|       2022|          11|         9|                    162|                   9720|
| 2022-11-09|   MIA|        PHL|          WA3NR|         PT5H2M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1668028860||16680...|2022-11-09T16:21:...|1668036600||16680...|2022-11-09T18:30:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7740||7080|None||None|coach||coach|       2022|          11|         9|                    302|                  18120|
| 2022-11-09|   MIA|        PHL|          WA3NR|        PT9H49M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1667996400||16680...|2022-11-09T07:20:...|1668003600||16680...|2022-11-09T09:20:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7200||7140|None||None|coach||coach|       2022|          11|         9|                    589|                  35340|
| 2022-11-10|   MIA|        PHL|          WA3NR|         PT5H2M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1668115260||16681...|2022-11-10T16:21:...|1668123000||16681...|2022-11-10T18:30:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7740||7080|None||None|coach||coach|       2022|          11|        10|                    302|                  18120|
| 2022-11-10|   MIA|        PHL|          WA3NR|        PT9H49M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1668082800||16681...|2022-11-10T07:20:...|1668090000||16681...|2022-11-10T09:20:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7200||7140|None||None|coach||coach|       2022|          11|        10|                    589|                  35340|
| 2022-11-11|   PHL|        MIA|          WA3NR|         PT3H3M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1668193800|2022-11-11T14:10:...|          1668204780|2022-11-11T17:13:...|            MIA|              PHL|     Spirit Airlines|          NK|          Airbus A319|           10980|      None|       coach|       2022|          11|        11|                    183|                  10980|
| 2022-10-05|   PHL|        MIA|          WA3NR|        PT2H57M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1664993880|2022-10-05T14:18:...|          1665004500|2022-10-05T17:15:...|            MIA|              PHL|     Spirit Airlines|          NK|          Airbus A319|           10620|      None|       coach|       2022|          10|         5|                    177|                  10620|
| 2022-10-06|   MIA|        PHL|          WA3NR|        PT2H45M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1665072600|2022-10-06T12:10:...|          1665082500|2022-10-06T14:55:...|            PHL|              MIA|     Spirit Airlines|          NK|          Airbus A319|            9900|      None|       coach|       2022|          10|         6|                    165|                   9900|
| 2022-10-08|   MIA|        PHL|          WA3NR|        PT2H45M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1665245400|2022-10-08T12:10:...|          1665255300|2022-10-08T14:55:...|            PHL|              MIA|     Spirit Airlines|          NK|          Airbus A319|            9900|      None|       coach|       2022|          10|         8|                    165|                   9900|
| 2022-10-08|   MIA|        PHL|          WA3NR|       PT11H24M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1665228000||16652...|2022-10-08T07:20:...|1665235140||16652...|2022-10-08T09:19:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7140||7080|None||None|coach||coach|       2022|          10|         8|                    684|                  41040|
| 2022-10-08|   PHL|        MIA|          WA3NR|        PT2H53M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1665259500|2022-10-08T16:05:...|          1665269880|2022-10-08T18:58:...|            MIA|              PHL|     Spirit Airlines|          NK|          Airbus A319|           10380|      None|       coach|       2022|          10|         8|                    173|                  10380|
| 2022-10-09|   PHL|        MIA|          WA3NR|        PT2H53M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1665345900|2022-10-09T16:05:...|          1665356280|2022-10-09T18:58:...|            MIA|              PHL|     Spirit Airlines|          NK|          Airbus A319|           10380|      None|       coach|       2022|          10|         9|                    173|                  10380|
| 2022-10-10|   PHL|        MIA|          WA3NR|        PT2H53M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1665433200|2022-10-10T16:20:...|          1665443580|2022-10-10T19:13:...|            MIA|              PHL|     Spirit Airlines|          NK|          Airbus A319|           10380|      None|       coach|       2022|          10|        10|                    173|                  10380|
| 2022-10-11|   MIA|        PHL|          WA3NR|        PT2H45M|           0|           false|        false|      true|     0.01|      25.6|              0|          null|            1665504600|2022-10-11T12:10:...|          1665514500|2022-10-11T14:55:...|            PHL|              MIA|     Spirit Airlines|          NK|          Airbus A319|            9900|      None|       coach|       2022|          10|        11|                    165|                   9900|
| 2022-10-11|   MIA|        PHL|          WA3NR|       PT11H24M|           0|           false|        false|     false|     0.01|     45.59|              0|          null|  1665487200||16655...|2022-10-11T07:20:...|1665494340||16655...|2022-10-11T09:19:...|       ATL||PHL|         MIA||ATL|Spirit Airlines||...|      NK||NK|        Airbus A319|||      7140||7080|None||None|coach||coach|       2022|          10|        11|                    684|                  41040|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
only showing top 20 rows

In [45]:
print("Min Base Fare Count: ", price_df.filter(price_df['base_fare'] == 0.01).count())

Min Base Fare Count:  1320

In [46]:
travel_duration_minutes_summary = price_df.agg(
    mean(col("travel_duration_minutes")).alias("Mean Travel Duration (Min)"),
    stddev(col("travel_duration_minutes")).alias("StdDev Travel Duration (Min)"),
    count(col("travel_duration_minutes")).alias("Count Travel Duration (Min)"),
    min(col("travel_duration_minutes")).alias("Min Travel Duration (Min)"),
    max(col("travel_duration_minutes")).alias("Max Travel Duration (Min)")
)

travel_duration_minutes_summary.show()

+--------------------------+----------------------------+---------------------------+-------------------------+-------------------------+
|Mean Travel Duration (Min)|StdDev Travel Duration (Min)|Count Travel Duration (Min)|Min Travel Duration (Min)|Max Travel Duration (Min)|
+--------------------------+----------------------------+---------------------------+-------------------------+-------------------------+
|         428.3268227118082|          225.21108754604873|                   82138753|                       34|                     2656|
+--------------------------+----------------------------+---------------------------+-------------------------+-------------------------+

In [47]:
price_df.filter(price_df['travel_duration_minutes'] == 34).show()

+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
|flight_date|origin|destination|fare_basis_code|travel_duration|elapsed_days|is_basic_economy|is_refundable|is_nonstop|base_fare|total_fare|seats_remaining|total_distance|departure_time_seconds|      departure_time|arrival_time_seconds|        arrival_time|arrival_airport|departure_airport|        airline_name|airline_code|equipment_description|duration_seconds|  distance|  cabin_code|flight_year|flight_month|flight_day|travel_duration_minutes|travel_duration_seconds|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+
| 2022-09-07|   EWR|        DTW|          GA7NR|          PT34M|           0|           false|        false|     false|     12.0|     81.58|              0|          null|  1662594900||16625...|2022-09-07T19:55:...|1662601680||16625...|2022-09-07T21:48:...|       MYR||DTW|         EWR||MYR|Spirit Airlines||...|      NK||NK| AIRBUS INDUSTRIE ...|      6780||7440|None||None|coach||coach|       2022|           9|         7|                     34|                   2040|
+-----------+------+-----------+---------------+---------------+------------+----------------+-------------+----------+---------+----------+---------------+--------------+----------------------+--------------------+--------------------+--------------------+---------------+-----------------+--------------------+------------+---------------------+----------------+----------+------------+-----------+------------+----------+-----------------------+-----------------------+

In [48]:
most_frequent_routes = (price_df.select(["origin", "destination"])
                                .groupBy("origin", "destination")
                                .agg(count("*").alias("route_count"))
                                .orderBy("route_count", ascending=False))

most_frequent_routes.show()

+------+-----------+-----------+
|origin|destination|route_count|
+------+-----------+-----------+
|   ATL|        LAX|     709809|
|   LAX|        BOS|     679169|
|   LGA|        LAX|     677713|
|   LAX|        ATL|     669609|
|   LAX|        LGA|     663659|
|   BOS|        LAX|     644390|
|   LAX|        JFK|     625496|
|   LAX|        ORD|     620576|
|   DFW|        LAX|     612390|
|   LAX|        DFW|     610669|
|   JFK|        LAX|     605017|
|   LAX|        DTW|     601537|
|   ORD|        LAX|     597847|
|   LAX|        EWR|     587270|
|   DTW|        LAX|     582022|
|   CLT|        LAX|     572097|
|   JFK|        ORD|     557152|
|   LAX|        CLT|     554474|
|   LGA|        ORD|     550319|
|   LAX|        PHL|     549880|
+------+-----------+-----------+
only showing top 20 rows